//included files
@import "variable";

//general settings
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

//main container
.container {
    width: 100vw;
    height: 100vh;
    background-color: #f5f6f7;
    display: grid;
    grid-template-rows: 65px 86.8vh 60px;   //822px
    grid-template-columns: 100vw;
    justify-content: center;
    // border: 5px solid navy;
    color: $text;
    font-family: Verdana, sans-serif;


@import "navbar/navbar";

    //Content
@import "content/middle";
    

    //footer
    .footer {
        // background: midnightblue;
        background: $myDark;

        .end {
            border: 3px solid rgb(165, 26, 26);
            height: 100%;
            width: 80%;
            margin-left: 10%;
            // background: lighten(rgba(,11, 38, 0.96), 10);
            background: $myDark;
        }
    }
}
