//Animations
//circle animation
@keyframes reduce {
    0%{
        width: 200px;
        height: 200px;
    border-radius: 50%;
    border: 100px solid green;
    }

    100%{
        width: 200px;
        height: 200px;
    border-radius: 50%;
    border: 10px solid green;
    }
}

//Container for Tick
.container-tick {
    background-color: rgba(0, 0, 0, 0.393);
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

    //white box
    .box {
        width: 30vw;
        height: 45vh;
        background-color: #fff;
        display: grid;
        justify-content: center;
        align-items: center;

        //Circle
        .circle-container{
            transform: scale(0.7);
            animation: ticks 0.3s ease 1.5s;
            margin-top: -15vh;

        .circle {
        position: relative;
    transition: all 0.2s;

            animation-name: reduce;
            animation-duration: 0.8s;
            // padding: 100px;
            width: 200px;
            height: 200px;
        border-radius: 50%;
        border: 10px solid green;
        display: grid;
        justify-content: center;
        align-items: center;


            .tick1{
                width: 0px;
                // width: 64px;
                height: 10px;
                background-color: green;
                transform: rotate(220deg);
                position: absolute;
                left: 20px;
                top: 100px;

            }
            .tick2{
                width: 0px;
                height: 10px;
                background-color: green;
                transform: rotate(135deg);
                position: absolute;
                left: 55px;
    
            }
        
        }
    }
    }
}

  //Text
  .text{
      position: relative;
    .typo{
        position: absolute;
        font-family: Verdana, sans-serif;
        // border: 1px solid black;
        font-size: 18px;
        width: 22vw;
        height: 10vh;
        padding: 5px;
        top: -42vh;
        left: 39.2vw;
        line-height: 1.5em;

        a{
            text-decoration: none;
            color: rgb(216, 134, 19);
            &:hover{
            color: complement(rgb(216, 134, 19));
                transition: all 0.2s;
            }
        }
        
    }
}
