//All elements
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



//tick animations
@keyframes ticks {

    100%{
       transform: scale(0.8);
       transition: all 0.2s;

    }
}


// @import 'cross';
@import 'tick';